<h1>Custom pipes</h1>
<p>Pipes {{'made' | mayus:capitalized}} by me</p>



<p-toolbar>
    <div class="p-toolbar-group-left">


    </div>

    <div class="p-toolbar-group-right">
        <button pButton type="button" (click)="transform()">
            Toogle mayus
        </button>
        <button pButton icon="pi pi-sort" label="By name" >
        </button>
        <button pButton icon="pi pi-sort" label="Values" >
        </button>
        <button pButton icon="pi pi-sort" label="By color" >
        </button>
    </div>
</p-toolbar>

<hr>

<div class="grid">
    
    <div class="col">
        <p-table [value]=[]>
            <ng-template pTemplate="header">
                <tr>
                    <th>Vin</th>
                    <th>Year</th>
                    <th>Brand</th>
                    <th>Color</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-car>
                <tr>
                    <td>{{car.vin}}</td>
                    <td>{{car.year}}</td>
                    <td>{{car.brand}}</td>
                    <td>{{car.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

