<article>
    <h1>Basic Pipes</h1>
    <p>Pipes that are typically included in Common Module.</p>
    <hr>
    <h3>e.g. "{{name}}"</h3>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-4 ">
            <p-card header="LowerCase"
            subheader="Transforms text to all lower case.">
                {{name | lowercase}}
            </p-card>
        </div>

        <div class="col-12 md:col-6 lg:col-4">
            <p-card header="UpperCase"
            subheader="Transforms text to all upper case.">
                {{name | uppercase}}
            </p-card>
        </div>
        <div class="col-12 md:col-6 lg:col-4">
            <p-card header="TitleCase"
                    subheader="Transforms text to title case.">
                {{name | titlecase}}
            </p-card>
        </div>
    </div>
</article>